/**********
 * Restet *
 **********/

body,
html {
  height: 100%;
}

a {
  text-decoration: none;
  color: #31B1DF;
}

a.new {
  color: inherit;
}

button,
.button {
  border: 1px solid gray;
  background-color: #333;
  color: #31B1DF;
  margin: 0 .5em;
  padding: .75em .5em;
}

input[type=text] {
  background-color: #555;
  border: 1px solid white;
  padding: .5em;
  font-size: 1em;
  width: 200px;
}

/***********
 * Article *
 ***********/

#toc,
.thumb,
a.image,
.noprint,
.reference,
.mw-editsection {
  display: none;
}

body {
  background-color: #000000;
  color: #E0E0E0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  padding: .5em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.1em; }

h1, h2, h3 {
  color: inherit;
  font-weight: inherit;
  padding: .5em 0;
  line-height: 1.1em;
}

article {
  margin-top: 50px;
  text-align: justify;
  line-height: 1.5em;
}

article p,
article ul {
  margin: 1em 0;
}


/***********
 * Layouts *
 ***********/

[article-item] {
  margin: 1em;
}
[article-item] a {
  float: left;
  margin: 0.5em;
}
[article-item] button { float: right }
[article-item] .clearfix { clear: both }

.topbar h1 {
  margin: 0;
  padding: 0.25em;
}

.topbar a {
  float: right;
}
.article.topbar a {
  float: none;
}

.topbar.fixed {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  padding: 1em;
  width: 100%;
  top: 0;
}


/*************
 * MA styles *
 *************/

button,
.button {
    border: none;
    background-color: #006285;
    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #FFF;
    margin: 0 .5em;
    padding: .75em 1.2em;
    font-family: "Open sans";
    font-weight: bold;
    text-shadow: 1px 1px 1px #161616;
    -o-text-shadow: 1px 1px 1px #161616;
    -moz-text-shadow: 1px 1px 1px #161616;
    -webkit-text-shadow: 1px 1px 1px #161616;
}

button:hover,
.button:hover {
    cursor: pointer;
    background-color: #FF770D;
    transition: background-color 0.4s;
    -o-text-shadow: background-color 0.4s;
    -moz-text-shadow: background-color 0.4s;
    -webkit-text-shadow: background-color 0.4s;

}

input[type="text"] {
    border: none;
    background-color: #EEE;
    border-radius: 2px;
    padding: .6em 1em;
    font: normal 0.9em / normal "Open Sans";
    min-width: 200px;
}

.topbar h1 {
   font-weight: bold;
}


/*********
 * Fonts *
 *********/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(open_sans_light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(open_sans.ttf) format('truetype');
}


/*****************
 * Notifications *
 *****************/

.notification {
  color: #FFFFFF;
  font-weight: bold;
  position: fixed;
  padding: 1em;
  bottom: 2em;
}

.notification.closed {
  border-radius: 20px;
}

.notification.open {
  border-radius: 10px;
  right: 2em;
  left: 2em;
}

.notification.downloading {
  background-color: rgba(0, 200, 0, 0.5);
  right: 2em;
}

.notification.pending {
  background-color: rgba(200, 0, 0, 0.5);
  left: 2em;
}
